.button {
  margin: 4px;
}

.row {
  margin-left: 0px;
}

label {

  display: flex;
  justify-content: space-evenly;
}

label > input{

  width: 50%;
}

.average-grade{
  display:flex;
  justify-content: center;
  align-items: center;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    header > h1 {
      font-size: 28px;
    }

    .grade-table{
      flex-direction: column-reverse;
    }

    .form-div {
      flex: 0 0 100%;
      max-width: 100%;
      margin: 10px 0px 10px 0;
    }

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .col-9 {
      flex: 0 0 60%;
    }

    .col-3 {
      flex: 0 0 40%;
      max-width: 40%;
    }

}
